local-files/backups/NlzsyWJobMRzTMcn.bkp
{"createdAt":"2025-05-06T11:08:04.066Z","updatedAt":"2025-05-06T17:07:04.000Z","id":"NlzsyWJobMRzTMcn","name":"Backup N8N","active":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-140,0],"id":"21b82f8b-6e3a-4d64-b4ca-e90f33170de7","name":"Schedule Trigger"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[80,0],"id":"90456dd4-5a5d-4204-bf2a-4f3a0d364a9d","name":"n8n","credentials":{"n8nApi":{"id":"zRFrvvWaTkk1e706","name":"n8n account"}}},{"parameters":{"jsCode":"return items.map(item => {\n  const jsonData = JSON.stringify(item.json);\n  const binaryData = Buffer.from(jsonData).toString('base64');\n  item.binary = {\n    data: {\n      data: binaryData,\n      mimeType: 'application/json',\n      fileName: 'data.json'\n    }\n  };\n  return item;\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[300,0],"id":"1fecc8b2-a5eb-471d-82b5-ae400182e2f9","name":"Code"},{"parameters":{"operation":"write","fileName":"=/files/backups/{{ $json.id }}.bkp","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[780,60],"id":"8866e9a9-c02e-4f3a-b9f2-781e7a830095","name":"Read/Write Files from Disk"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[520,0],"id":"e8c940cd-726b-48cf-82d2-5164ea70bcb0","name":"Loop Over Items"},{"parameters":{"command":"./commitAuto.sh ","cwd":"/home/carlosaraki/Documents/dirce"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[960,-20],"id":"c8983634-9b07-40e3-87c8-864541244cdb","name":"SSH","credentials":{"sshPassword":{"id":"iJ3AsvHdvGSlYjGF","name":"SSH Password account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"n8n","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"SSH","type":"main","index":0}],[{"node":"Read/Write Files from Disk","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"72489c8f-6864-413e-bf02-75a254daca2e","triggerCount":0,"tags":[]}