local-files/cwKDsvxp7dVK1UFm.bkp
{"createdAt":"2025-05-06T03:28:35.842Z","updatedAt":"2025-05-06T11:06:19.000Z","id":"cwKDsvxp7dVK1UFm","name":"Check API Health","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"seconds","secondsInterval":5}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"f20d3a5a-34c3-460e-a11f-2ee1d90f3287","name":"Schedule Trigger"},{"parameters":{"url":"http://nodeApi:3001/status","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,0],"id":"6a6ccc04-37b6-44f8-bc33-a63d338a3cc1","name":"HTTP Request","onError":"continueErrorOutput"},{"parameters":{"chatId":"972379984","text":"=🚨 🚨 API MORTA ☠️ ‼️ 🚨 🚨  --  {{ $('Schedule Trigger').item.json['Readable date'] }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[500,20],"id":"857ac383-42d5-416b-be0e-251f33e3861b","name":"Telegram","webhookId":"580e170d-942e-4607-bf7a-c131a4df2e7a","credentials":{"telegramApi":{"id":"U7ngK8lw6Tjdyt9d","name":"Telegram account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[],[{"node":"Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4141103a-6158-4794-9a7a-d6cf125d4379","triggerCount":1,"tags":[]}