local-files/hsipZ3wifxLNsA6f.bkp
{"createdAt":"2025-05-05T02:35:35.393Z","updatedAt":"2025-05-06T11:05:24.000Z","id":"hsipZ3wifxLNsA6f","name":"Workflow Dirce","active":true,"nodes":[{"parameters":{"chatId":"972379984","text":"=☢️☢️☢️{{ $json['Readable date'] }}☢️☢️☢️ Dados não chegando ! ","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[380,220],"id":"0d65ad2d-28ba-4185-a0b8-9ed962297f0f","name":"Telegram","webhookId":"2dba8a4f-e5f4-4d44-bd79-64affffbf479","credentials":{"telegramApi":{"id":"U7ngK8lw6Tjdyt9d","name":"Telegram account"}}},{"parameters":{"url":"=http://nodeApi:3001/device-status-panic","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[100,40],"id":"b3729ce0-aad5-43c3-b2ca-020a1ce797d9","name":"HTTP Request1","retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"13976f34-07be-4169-bb1e-8b6d1fb3476c","leftValue":"={{ $json.status }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[380,40],"id":"995b3f20-1592-4c37-a1fd-7b2ff2917c40","name":"Filter","onError":"continueErrorOutput"},{"parameters":{"chatId":"972379984","text":"=‼️ Atenção Alarme Tocando ‼️ ","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1040,240],"id":"a40bc881-be25-43ea-80f1-85e74aa71f5b","name":"Telegram1","webhookId":"2dba8a4f-e5f4-4d44-bd79-64affffbf479","credentials":{"telegramApi":{"id":"U7ngK8lw6Tjdyt9d","name":"Telegram account"}}},{"parameters":{"resource":"call","from":"+12792425996","to":"+5519982633730","twiml":true,"message":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Response>\n    <Say>Help, Dirce! , please check SOS alert !</Say>\n    <Say>Help, Dirce! , please check SOS alert !</Say>\n    <Say>Help, Dirce! , please check SOS alert !</Say>\n    <Say>Help, Dirce! , please check SOS alert !</Say>\n    <Say>Help, Dirce! , please check SOS alert !</Say>\n</Response>","options":{}},"type":"n8n-nodes-base.twilio","typeVersion":1,"position":[780,-180],"id":"4ba31047-63f9-44df-b999-d1dd4bd4042f","name":"Twilio -- Ligar - Carlos","alwaysOutputData":true,"notesInFlow":false,"credentials":{"twilioApi":{"id":"DNnr7kJhL9fmqgFt","name":"Twilio account"}}},{"parameters":{"resource":"call","from":"+12792425996","to":"+5519982633730","twiml":true,"message":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Response>\n    <Say>Help, Dirce! , please check SOS alert !</Say>\n    <Say>Help, Dirce! , please check SOS alert !</Say>\n    <Say>Help, Dirce! , please check SOS alert !</Say>\n    <Say>Help, Dirce! , please check SOS alert !</Say>\n    <Say>Help, Dirce! , please check SOS alert !</Say>\n</Response>","options":{}},"type":"n8n-nodes-base.twilio","typeVersion":1,"position":[780,0],"id":"0a16da70-28d0-4ed3-b34c-dac0e2bce729","name":"Twilio -- Ligar - Jose","alwaysOutputData":true,"notesInFlow":false,"credentials":{"twilioApi":{"id":"DNnr7kJhL9fmqgFt","name":"Twilio account"}},"onError":"continueErrorOutput"},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-140,40],"id":"3513e97e-73db-480d-babf-f72a4b7d28ff","name":"Cron de Check dirce"},{"parameters":{"amount":2,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1040,-20],"id":"6d6175d7-86d6-41bf-a08b-8edaf2a84be8","name":"Wait","webhookId":"7229c0b1-64d1-4781-aa00-adb0053f50de"}],"connections":{"HTTP Request1":{"main":[[{"node":"Filter","type":"main","index":0}],[{"node":"Telegram","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Telegram1","type":"main","index":0},{"node":"Twilio -- Ligar - Carlos","type":"main","index":0},{"node":"Twilio -- Ligar - Jose","type":"main","index":0}]]},"Twilio -- Ligar - Carlos":{"main":[[]]},"Cron de Check dirce":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Twilio -- Ligar - Jose":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Telegram1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Cron de Check de api":{"recurrenceRules":[]},"node:Cron de Check de api1":{"recurrenceRules":[]},"node:Cron de Check dirce":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ef7cb702-8ea9-487c-94d8-17d8cc8a28b8","triggerCount":1,"tags":[]}